<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Create Recipe</h2>
    <hr/>
    <div style="display:none" id="error-message" class="alert alert-danger">
    <strong>Error!</strong> Please fill mandatory values.
    </div>
    <div style="display:none" id="success-message" class="alert alert-success">
    <strong>Success!</strong> Record Saved Successfully
    </div>
    <form id="create-form">
        <div class="form-group">
            <label for="name">*Recipe name:</label>
            <input type="text" class="form-control" id="name" name="name" value="" placeholder="Recipe Name">

        </div>
        <div class="form-group">
            <label for="url">URL:</label>
            <input type="text" class="form-control" id="url" name="url" value="" placeholder="Link to Recipe">

        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" value=""
                      placeholder="Description"></textarea>

        </div>

        <input type="button" class="btn btn-default" value="Submit" onclick="submitForm()"/>
    </form>
</div>


</body>

<script>
    function resetForm() {
        $("#create-form").find("input[type=text], textarea").val("");
    }
    function createRecipePayLoad() {
        var x = $("#create-form").serializeArray();
        var recipe = {}
        recipe["name"] = x[0].value;
        recipe["url"] = x[1].value;
        recipe["description"] = x[2].value;
        if(recipe["name"] == "") {
            $("#error-message").show();
            setTimeout(function(){ $("#error-message").hide(); }, 3000);
            throw "Not fill";
        }
        $("#error-message").hide();
        return JSON.stringify(recipe);
    }

    function submitForm() {
        var formData = createRecipePayLoad();
        $.ajax({
          type: "POST",
          url: "/api/v1.0/recipes",
          data: formData,
          success: function(result){
            console.log(JSON.stringify(result));
            $("#success-message").show();
            setTimeout(function(){ $("#success-message").hide(); }, 3000);
            resetForm();
          },
          error: function(result) {
            alert(JSON.stringify(result));
          },
          dataType: "json",
          contentType : "application/json"
        });

    }

(function($){
    var config = {};

    $.loading = function (options) {

        var opts = $.extend(
            $.loading.default,
            options
        );

        config = opts;
        init(opts);

        var selector = '#' + opts.id;

        $(document).on('ajaxStart', function(){
            console.log("ajax callllll");
            if (config.ajax) {
                console.log("ajax callllll inside");
                $(selector).show();
            }
        });

        $(document).on('ajaxComplete', function(){
            setTimeout(function(){
                $(selector).hide();
            }, opts.minTime);
        });

        return $.loading;
    };

    $.loading.open = function (time) {
        var selector = '#' + config.id;
        $(selector).show();
        if (time) {
            setTimeout(function(){
                $(selector).hide();
            }, parseInt(time));
        }
    };

    $.loading.close = function () {
        var selector = '#' + config.id;
        $(selector).hide();
    };

    $.loading.ajax = function (isListen) {
        config.ajax = isListen;
    };

    $.loading.default = {
        ajax       : true,
        //wrap div
        id         : 'ajaxLoading',
        zIndex     : '1000',
        background : 'rgba(0, 0, 0, 0.7)',
        minTime    : 200,
        radius     : '4px',
        width      : '85px',
        height     : '85px',

        //loading img/gif
        imgPath    : 'img/ajax-loading.gif',
        imgWidth   : '45px',
        imgHeight  : '45px',

        //loading text
        tip        : 'loading...',
        fontSize   : '14px',
        fontColor  : '#fff'
    };

    function init (opts) {
        //wrap div style
        var wrapCss = 'display: none;position: fixed;top: 0;bottom: 0;left: 0;right: 0;margin: auto;padding: 8px;text-align: center;vertical-align: middle;';
        var cssArray = [
            'width:' + opts.width,
            'height:' + opts.height,
            'z-index:' + opts.zIndex,
            'background:' + opts.background,
            'border-radius:' + opts.radius
        ];
        wrapCss += cssArray.join(';');

        //img style
        var imgCss = 'margin-bottom:8px;';
        cssArray = [
            'width:' + opts.imgWidth,
            'height:' + opts.imgWidth
        ];
        imgCss += cssArray.join(';');

        //text style
        var textCss = 'margin:0;';
        cssArray = [
            'font-size:' + opts.fontSize,
            'color:'     + opts.fontColor
        ];
        textCss += cssArray.join(';');

        var html = '<div id="' + opts.id + '" style="' + wrapCss + '">'
                  +'<img src="' + opts.imgPath + '" style="' + imgCss + '">'
                  +'<p style="' + textCss + '">' + opts.tip + '</p></div>';

        $(document).find('body').append(html);
    }

})(window.jQuery||window.Zepto);
var loading = $.loading();
</script>
</html>
